body {
    margin: 0;
    font-family: 'Open Sans', serif;
}

header {
    background-color: #2C2C2C;
    height: 40px;
    font-size: 13px;
    color: #FAFAFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.main-logo {
    align-items: center;
    display: inline-block;
}

div {
    margin: 0 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    padding: 8px;

}

a.scan {
    letter-spacing: 0.1em;
    margin-left: 48px;
}

a.red {
    background-color:#C62828;
    padding: 5px;
    width: 78px;
    text-align: center;
    margin-right: 20px;
}
a.profile {
    margin-left: 8px;
}
